.registerCard {
  height: 650px !important;
  width: 900px;
  border-radius: 20px !important;
  max-height: 650px;
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    display: none;
  }
}

.registerScreen {
  background-color: #182734;

  .topic {
    color: black;
  }

  .btnSubmit {
    background-color: #09a162;
    width: 50%;
    border-radius: 20px;
    border: none;

    &:hover {
      background-color: #182734;
    }
  }

  .logoImgLogin {
    height: 200px;
  }

  .firstColumn {
    background-color: #09a162 !important;
    height: 650px;
    max-height: 650px;
    overflow-y: auto;
    border-radius: 20px 0 0 20px;
  }
}

.content {
  padding: 20px;
  color: white;
}

.signup-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-control {
  width: 100px;
}
.form-control:hover {
  border-color: #e3b04b !important;
}
.is-valid {
  border-color: #e3b04b !important;
  box-shadow: 0 0 5px #e3b04b !important;
}

.topic {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 40px;
  color: #d7d7d7;
}

// .fixed {
//   height: 600px;
//   margin-left: 20px;
// }
